@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Simple application that turns user's input into desired translation. Only "<i>l33t sp34k</i>" (Leet Speak) and <i>YodaSpeak</i> translation is avaiable <b>so far</b>.  </p>
<p>Database contains two tables - <i>Sentences</i> and <i>Translations</i></p>
<p>In case there's a need to add another translation. Just add translation name and full Url from http://funtranslations.com/api to <i>Translations</i> table </p>
