@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Łukasz Mosiężny<br />
    <abbr title="Phone">P:</abbr>
    796 172 391
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:el.mosiadz@gmail.com">el.mosiadz@gmail.com</a><br />
</address>